@using GestionSUM.Models


@model GestionSUM.Models.Usuario

@{
    ViewData["Title"] = "Crear Usuario";
}

<h1>Crear Usuario</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Departamento"></label>
        <input asp-for="Departamento" class="form-control" />
        <span asp-validation-for="Departamento" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Rol"></label>
        <select asp-for="Rol"
                class="form-control"
                asp-items="Html.GetEnumSelectList<RolUsuario>()">
        </select>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
