# =========================
# Visual Studio / IDE
# =========================
.vs/

# =========================
# Build results
# =========================
GestionSUM/bin/
GestionSUM/obj/

# =========================
# ASP.NET / .NET
# =========================
*.dll
*.exe
*.pdb

# =========================
# User-specific files
# =========================
*.user
*.suo
*.cache

# =========================
# Logs / temp
# =========================
*.log