@model GestionSUM.Models.Reserva




@{
    ViewData["Title"] = "Nueva Reserva";
}

@* <h1>Nueva Reserva</h1> *@
<div class="container-fluid px-4 px-md-5 mt-5">

<div class="card bg-primary text-white shadow-sm mb-4">
    <div class="card-body text-center">
        <h1 class="fw-bold mb-1">Nueva Reserva</h1>
    </div>
</div>


@* <div class="card shadow-sm mb-4">
    <div class="card-body">
        <h4 class="fw-bold mb-3">🏢 Información General</h4>
        <ul>
            <li><strong>Capacidad:</strong> Hasta 40 personas</li>
            <li><strong>Horarios:</strong> Turno dia 10:00  a 18:00. Turno noche 19:00 a 02:00.</li>
            <li><strong>Días disponibles:</strong> Lunes a Domingo</li>
            <li><strong>Reservas:</strong> Deben realizarse con minimo 6 horas de anticipacion.</li>
            <li><strong>Cancelaciones:</strong> Deben realizarse con minimo 2 horas de anticipación.</li>
        </ul>
    </div>
</div> *@


@{
    var sum = ViewBag.SumInfo as GestionSUM.Models.SumInfo;
}

@if (sum != null)
{
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h4 class="fw-bold mb-3">🏢 Información General</h4>

            <p>@sum.InformacionGeneral</p>

            <ul>
                <li><strong>Capacidad:</strong> @sum.Capacidad personas</li>
                <li><strong>Horarios:</strong> Turno dia 10:00  a 18:00. Turno noche 19:00 a 02:00.</li>
                <li><strong>Días disponibles:</strong> Lunes a Domingo</li>
                <li><strong>Reservas:</strong> Con mínimo 6 horas de anticipación</li>
                <li><strong>Cancelaciones:</strong> Con mínimo 2 horas de anticipación</li>
            </ul>
        </div>
    </div>
}

@if (ViewData.ModelState.ErrorCount > 0)
{
    <div class="alert alert-danger">
        @* @Html.ValidationSummary(true, "", new { @class = "text-danger" }) *@
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    </div>
}

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Fecha"></label>
        @* <input asp-for="Fecha" class="form-control" type="date" /> *@
        <input asp-for="Fecha" type="date" class="form-control" />
        <span asp-validation-for="Fecha" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TurnoId">Turno</label>
        <select asp-for="TurnoId"
                asp-items="ViewBag.Turnos"
                class="form-control">
            <option value="">-- Seleccionar --</option>
        </select>
        <span asp-validation-for="TurnoId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="UsuarioId">Usuario</label>
        <select asp-for="UsuarioId"
                asp-items="ViewBag.Usuarios"
                class="form-control">
            <option value="">-- Seleccionar --</option>
        </select>
        <span asp-validation-for="UsuarioId" class="text-danger"></span>
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Reservar</button>
    <a asp-action="Calendario" class="btn btn-secondary">Volver</a>
</form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }


}
<style>
    body {
        min-height: 100vh;
        background: linear-gradient(135deg, #f4f6f9, #e9ecef);
    }
</style>
